---
title: "Mid-Argyll Rugby"
layout: base
cssFiles: ["/index.css"]
eleventyNavigation:
  key: Home
  order: 1
---

<article class="mrf-column-main mrf-intro flow">

    <h2>Welcome to Mid&#8209;Argyll Rugby Football Club.</h2>

    <p>Mid&#8209;Argyll Rugby Club was formed in 1978 by a group of local enthusiasts. James McLellan, Colin Stewart, Jock Gray, Davie Anderson &amp; Ian Thomson being the original committee members.</p>

    <p>We are a community-based club offering rugby playing and training opportunities to anyone from Primary 1 to Adult ages, for Boys &amp; Girls and Men &amp; Women.</p>

    <p>Primary &amp; high school training is held on the grass pitch at Lochgilphead Joint Campus every Tuesday during term time from 4pm&nbsp;&ndash;&nbsp;5pm.</p>
      
    <img src="/_shared/images/girls-02.jpg" alt="Girls rugby">
    
    <p>Ladies&rsquo; fitness &amp; training sessions are held every Monday evening from 6:30pm&nbsp;&ndash;&nbsp;7:30pm contact our Women &amp; Girls Community Coach, Drew Buckley, for venue details.</p>


    <p>Men&rsquo;s training is held on Tuesday evenings from 7pm&nbsp;&ndash;&nbsp;8:30pm, contact our club secretary, Lee Buckley, or Club captain, Stuart Charnock, for venue details.</p>

    <img src="/_shared/images/men-02.jpg" alt="Mens rugby">

    
    <p>The club also has a <a href="https://www.facebook.com/midargyllrfc/" target="_blank">Face Book page</a> and <a href="https://twitter.com/MidArgyllRFC" target="_blank">twitter page</a> which are updated with all the latest training details and playing fixtures.</p>
    <p>Everyone is welcome from novice to the most experienced.</p>
</article>

<article  class="mrf-column-main mrf-column-main-full flow"  id="gallery">
  <div class="mrf-column-main"><h2>Gallery</h2></div>
  <div class="mrf-gallery">

        {# <img src="/_shared/images/gallery/Huddle.jpg" alt="Looking up into the faces of women in a rugby huddle" loading="lazy"> #}
        

        {# <img src="/_shared/images/gallery/20220827_132700.jpg" alt="ALt text needed" loading="lazy"> #}
        

        {# <img src="/_shared/images/gallery/DSC_0042.jpeg" alt="ALt text needed" loading="lazy"> #}

         <img src="/_shared/images/gallery/Islay-53-7.jpg" alt="Rugby on Islay" loading="lazy">

        <img src="/_shared/images/gallery/Rugby-Dalriada-Winners-2023.jpg" alt="Rugby Dalriada Winners 2023" loading="lazy">

        <img src="/_shared/images/gallery/Ladies-Team.jpeg" alt="Ladies team" loading="lazy">

        <img src="/_shared/images/gallery/MA-U18-V-Ayr.jpg" alt="Under 18s vs Ayr" loading="lazy">

        <img src="/_shared/images/gallery/Lochgilphead-High.jpg" alt="Lochgilphead High school team" loading="lazy">


  </div>
  <p class="mrf-centre mrf-mbs-m">Go to the <a href="/gallery/">Gallery</a> to see all photos &gt;</p>
</article>


<article class="mrf-column-main mrf-column-main-wide flow" id="documents">

      <div class="mrf-column-main"><h2>Documents</h2></div>

      <ul class="mrf-list mrf-documents">
        
        <li>
          <a download href="/_shared/docs/MARFC-parent-letter-2023-24.pdf">
            
            <p>Letter to parents 2023-2024</p>
          </a>
        </li>

        <li>
          <a download href="/_shared/docs/Membership-form-23-24.pdf">
            
            <p>Membership form 2023-2024</p>
          </a>
        </li>

        <li>
          <a download href="/_shared/docs/Mid-Argyll-Rugby-Club-Consent-Form-2023.pdf">
            
            <p>Consent form 2023-2024</p>
          </a>
        </li>
        
        <li>
          <a download href="/_shared/docs/MARFC-Code-of-Conduct.pdf">
            
            <p>Code of conduct</p>
          </a>
        </li>

        <li>
          <a download href="/_shared/docs/Constitution-April-2022.pdf">
            
            <p>Constitution</p>
          </a>
        </li>
      </ul>

</article>


