---
layout: base
cssFiles: ["/index.css"]
eleventyNavigation:
  key: Home
  order: 1
---

<article class="mrf-column-main  mrf-column-main-full mrf-intro flow">

    <div class="mrf-column-main">
      <h2>{{title}}</h2>
  
      {{intro | MDtoHTML | safe}}
    </div>
</article>

<article class="mrf-column-main flow" id="news">
  <h2>News</h2>
  {% set newslist = collections.news %}
  {% include "news-list.njk" %}
</article>

<article  class="mrf-column-main mrf-column-main-full flow"  id="gallery">
  <div class="mrf-column-main"><h2>Gallery</h2></div>

  {% set gallerylist = collections.gallery %}
  {% set galleryprefix = "/gallery/" %}
  {% set galleryLimit = 8 %}
  {% include "gallery-list.njk" %} 


  <p class="mrf-centre mrf-mbs-m"><a href="/gallery/">See all photos</a></p>
</article>




<article class="mrf-column-main mrf-column-main-wide flow" id="documents">

      <div class="mrf-column-main"><h2>Documents</h2></div>

      {% set docslist = collections.docs %}
      {% include "docs-list.njk" %} 


</article>


