---
layout: base
cssFiles: ["/index.css"]
eleventyNavigation:
  key: Home
  order: 1
---

<article class="mrf-column-main  mrf-column-main-full mrf-intro flow">

    <div class="mrf-column-main">
      <h2>{{title}}</h2>
  
      {{intro | MDtoHTML | safe}}
    </div>
</article>

<article class="mrf-column-main flow" id="news">
  <h2>News</h2>
  {% set newslist = collections.news %}
  {% include "news-list.njk" %}
</article>

<article  class="mrf-column-main mrf-column-main-full flow"  id="gallery">
  <div class="mrf-column-main"><h2>Gallery</h2></div>

  {% set gallerylist = collections.gallery %}
  {% set galleryprefix = "/gallery/" %}
  {% set galleryLimit = 8 %}
  {% include "gallery-list.njk" %} 


  <p class="mrf-centre mrf-mbs-m">Go to the <a href="/gallery/">Gallery</a> to see all photos.</p>
</article>




<article class="mrf-column-main mrf-column-main-wide flow" id="documents">

      <div class="mrf-column-main"><h2>Documents</h2></div>

      <ul class="mrf-list mrf-documents">
        
        <li>
          <a download href="/_shared/docs/MARFC-parent-letter-2023-24.pdf">
            
            <p>Letter to parents 2023-2024</p>
          </a>
        </li>

        <li>
          <a download href="/_shared/docs/Membership-form-23-24.pdf">
            
            <p>Membership form 2023-2024</p>
          </a>
        </li>

        <li>
          <a download href="/_shared/docs/Mid-Argyll-Rugby-Club-Consent-Form-2023.pdf">
            
            <p>Consent form 2023-2024</p>
          </a>
        </li>
        
        <li>
          <a download href="/_shared/docs/MARFC-Code-of-Conduct.pdf">
            
            <p>Code of conduct</p>
          </a>
        </li>

        <li>
          <a download href="/_shared/docs/Constitution-April-2022.pdf">
            
            <p>Constitution</p>
          </a>
        </li>
      </ul>

</article>


