---
title: "Mid-Argyll Rugby Football Club: news"
layout: base
override:tags: []
eleventyNavigation:
  key: News
  order: 3
---
{% set newslist = collections.news %}
<article class="mrf-column-main flow mrf-bg-light">
  <h2>Latest news</h2>
  {% include "news-list.njk" %}
</article>