---
layout: base
override:tags: []
---
<article class="mrf-column-main flow">
  <h2>{{title}}</h2>
  <p class="mrf-published">Published: <datetime>{{publish | readableDate}}</datetime></p>
  {% if update %}<p>Updated: <datetime>{{update | readableDate}}</datetime></p>{% endif%}
  {{ content | safe }}
</article>