---
title: "Mid-Argyll Rugby Football Club: contact"
layout: base
eleventyNavigation:
  key: Contact
  order: 5
---
<article class="mrf-column-main mrf-column-main-full mrf-single-row flow">
  <div class="mrf-column-main">
  <h2>Get in touch!</h2>
  <p>See the contact points at the bottom of this page or use this form to get in touch.</p>
  </div>
  </article>
