---
title: "Mid-Argyll Rugby Football Club: contact"
layout: base
eleventyNavigation:
  key: Contact
  order: 5
---
<article class="mrf-column-main flow">
  <p>These are the main contact points for the club.</p>
</article>
