---
title: "Mid-Argyll Rugby Football Club: documents"
layout: base
eleventyNavigation:
  key: Documents
  order: 4
---

<article class="mrf-column-main flow">
  <p>Please download, complete and email these forms to admin@mid-argyll-rfc.org to join the club.</p>
</article>

