---
title: "Mid-Argyll Rugby Football Club: gallery"
layout: base
override:tags: []
eleventyNavigation:
  key: Gallery
  order: 2
---
<article class="mrf-column-main mrf-column-main-full mrf-single-row flow" id="gallery">
  <div class="mrf-column-main mrf-column-main-wide">
    <h2>Gallery</h2>
    {% set gallerylist = collections.gallery %}
    {% set galleryprefix = "/gallery/" %} 
    {% include "gallery-list.njk" %}
  </div>
  </article>